@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
    background-color: #EEEEEE;
    font-family: 'Nunito', sans-serif;
}

/*
    The student page layout was getting messed up
    when I had a different CSS file on each profile
    page so they are now combined. 

    Student profile lines 17 => 116

*/

#Student_Navigation {
    background-color: #43C0F6;
    color: white;
    height: 30px;
    padding-top: 20px;
}

.Student_TopNavLabels {
    display: inline;
    float: left;
    margin-top: 0px;
    margin-left: 200px;
}

#Student_UserInteraction {
    float: right;
    margin-right: 300px;
    font-size: small;
    margin-top: -10px;
}

#Student_LanguageControls {
    font-size: x-small;
}

#Student_MaoriFlag {
    margin-left: 8px;
}

#Student_NZFlag {
    margin-left: 8px;
}

#Student_TopNavPicture {
    margin-right: 5px;
    border-radius: 10px;
    height: 17px;
    width: 17px;
    margin-bottom: -3px;
}

#Student_TopNavLogo {
    float: left;
    margin-top: -25px;
    margin-left: 300px;
}

#Student_PictureFrame {
    background-color: #FFFFFF;
    border-color: #E2DFDF;
    border-radius: 25px;
    width: 310px;
    height: 460px;
    border-style: solid;
    margin-top: 125px;
    margin-left: 470px;
}

#Student_Picture {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    margin-top: 60px;
}

#Student_DetailsFrame {
    float: right;
    margin-top: -466px;
    margin-right: 450px;
    background-color: #FFFFFF;
    border-color: #E2DFDF;
    border-radius: 25px;
    width: 600px;
    height: 560px;
    border-style: solid;
}

#Student_Details {
    color: #707070;
    font-size: x-large;
}

#Student_Name {
    font-size: 50px;
}

#Student_Information {
    float: right;
    margin-top: 20px;
    margin-right: 60px;
    text-align: left;
}

#Student_InformationLabels {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    text-align: left;
    color: #A5A5A5;
}

#Student_RTPButton {
    float: right;
    margin-top: 90px;
    color: white;
    background-color: #F91C85;
    border-radius: 7px;
}

#Student_EditProfileButton {
    color: #43C0F6;
    font-weight: 700;
}

#Student_ChangePhotoButton {
    color: #43C0F6;
    font-weight: 700;
    
}


/*

    Teacher classes lines 124 => 223

*/

#Teacher_Navigation {
    background-color: #43C0F6;
    color: white;
    height: 30px;
    padding-top: 20px;
}

.Teacher_TopNavLabels {
    display: inline;
    float: left;
    margin-top: 0px;
    margin-left: 200px;
}

#Teacher_UserInteraction {
    float: right;
    margin-right: 300px;
    font-size: small;
    margin-top: -10px;
}

#Teacher_LanguageControls {
    font-size: x-small;
}

#Teacher_MaoriFlag {
    margin-left: 8px;
}

#Teacher_NZFlag {
    margin-left: 8px;
}

#Teacher_TopNavPicture {
    margin-right: 5px;
    border-radius: 10px;
    height: 17px;
    width: 17px;
    margin-bottom: -3px;
}

#Teacher_TopNavLogo {
    float: left;
    margin-top: -25px;
    margin-left: 300px;
}

#Teacher_PictureFrame {
    background-color: #FFFFFF;
    border-color: #E2DFDF;
    border-radius: 25px;
    width: 310px;
    height: 460px;
    margin-top: 125px;
    margin-left: 470px;
    border-style: solid;
}

#Teacher_Picture {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    margin-top: 60px;
}

#Teacher_DetailsFrame {
    float: right;
    margin-top: -466px;
    margin-right: 450px;
    background-color: #FFFFFF;
    border-color: #E2DFDF;
    border-radius: 25px;
    width: 600px;
    height: 560px;
    border-style: solid;
}

#Teacher_Details {
    color: #707070;
    font-size: x-large;
}

#Teacher_Name {
    font-size: 50px;
}

#Teacher_Information {
    float: right;
    margin-top: 20px;
    margin-right: 60px;
    text-align: left;
}

#Teacher_InformationLabels {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    text-align: left;
    color: #A5A5A5;
}

/*

    Content below this comment are to be
    applied to both Profile.js & TeacherProfile.js

*/